@import "bootstrap/dist/css/bootstrap.min.css";

:root {
  --myFont: "Comfortaa", sans-serif;
}

h1 {
  font-family: var(--myFont);
  font-weight: 550;
  color: #1b2541;
}

h2 {
  font-family: var(--myFont);
  font-weight: 550;
  color: #1b2541;
}

h5 {
  font-family: var(--myFont);
  font-weight: 550;
  color: #1b2541;
}

.btn-primary {
  font-family: var(--myFont);
  background-color: #1b2541;
}
