/* Import Bootstrap's CSS for prebuilt styles and components */
@import "bootstrap/dist/css/bootstrap.min.css";

/* Define custom CSS variables for fonts, colors, and background */
:root {
  --myFont: "Comfortaa", sans-serif; /* Custom font for headings */
  --darkFontColor: #1b2541; /* Dark font color for headings */
  --lightFontColor: #e7e5d0; /* Light font color for buttons */
  --darkBackground: #1b2541; /* Dark background color for the header */
  --lightBackground: #f1f0e4; /* Light background color for the footer */
  --green: #748067; /* Green color */
  --lightBlue: #638fb3; /* Light blue color */
}

.light-background {
  background-color: var(--lightBackground);
}

/* Styles for all heading elements (h1-h6) */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--myFont); /* Use custom font for all headings */
  font-weight: 550; /* Semi-bold font weight */
  color: var(--darkFontColor); /* Use dark font color */
}

p {
  font-family: var(--myFont); /* Use custom font for paragraph text */
  color: var(--darkFontColor);
}

/* Styles for navigation links with a subtle glowing text effect */
.nav-link {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    /* First layer of glow */ 0 0 10px rgba(255, 255, 255, 0.6),
    /* Second layer */ 0 0 15px rgba(255, 255, 255, 0.4); /* Final layer */
}

/* Main content section background color */
main {
  background-color: white; /* White background for the main content area */
}

/* Footer background color */
footer {
  background-color: var(
    --lightBackground
  ); /* Use the light background color defined in the root */
}

/* Custom styles for primary buttons */
.btn-primary {
  font-family: var(--myFont); /* Use custom font for button text */
  color: var(--lightFontColor); /* Light font color */
  background-color: var(
    --darkBackground
  ); /* Dark background color for the button */
  border-color: var(
    --lightBackground
  ); /* Light background color for the border */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.btn-primary:hover {
  background-color: var(
    --lightBackground
  ); /* Change background color on hover */
  color: var(--darkFontColor); /* Change font color on hover */
  border-color: var(
    --darkBackground
  ); /* Light background color for the border */
}

/* Custom styles for secondary buttons */
.btn-secondary {
  font-family: var(--myFont); /* Use custom font for button text */
  color: var(--darkFontColor); /* Dark font color */
  background-color: var(--lightBackground); /* Light background color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.btn-secondary:hover {
  background-color: var(
    --darkBackground
  ); /* Change background color on hover */
  color: var(--lightFontColor); /* Change font color on hover */
}

/* Custom styles for danger (remove) buttons */
.btn-danger {
  font-family: var(--myFont); /* Use custom font for button text */
  color: var(--lightFontColor); /* Light font color */
  background-color: var(--green); /* Green background color for the button */
  border-color: var(
    --lightBackground
  ); /* Light background color for the border */
  transition: background-color 0.3s ease, color 0.3s ease,
    border-color 0.3s ease; /* Smooth transition */
}

/* Optional hover styles */
.btn-danger:hover {
  background-color: var(
    --lightBackground
  ); /* Change background color on hover */
  color: var(--green); /* Change font color on hover */
  border-color: var(--green); /* Change border color on hover */
}

.text-primary {
  color: var(--darkFontColor);
}
